.button {
	background-color: #329f32;
	border-radius: 0.325rem;
	padding: 4px 70px;
	line-height: 2rem;
	color: white;
    border: 1px solid #329f32;
    margin-top: 30px;
}

.button:hover {
    background-color: green;
}

.edit {
    color: rgb(245, 213, 33);
}

.remove {
    color: rgb(218, 23, 23);
}

.edit:hover {
    color: rgb(180, 154, 6);
}

.remove:hover {
    color: rgb(180, 24, 24);
}