// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ubox {
	min-height: 380px;
	margin-bottom: 3rem;
}

.btn-secondary{
    margin-left: 0.5em;
}