<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Numero de Refeicoes</th>
      <th scope="col">Cadastrada em</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td>4</td>
      <td>category.create_at.strftime("%Y/%m/%d")</td>
      <td><%= link_to 'editar', edit_category_path(category), method: 'get'%></td>
      <td><%= link_to 'excluir', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

 <%= link_to "Nova categoria de refeicao", new_category_path %>