<div class="box-footer">
    <div class="card-footer container-footer">
      <div class="footer">dinnerdash | todos os direitos reservados</div>
      <div class="footer1">desenvolvido por grupo 8 - PT 2018/2</div>
    </div>
</div>